<div class="nested-fields">
    <%= f.text_area :content, placeholder: "Answer content...", class: "form-control"%>
    <%= link_to_remove_association "remove answer", f, class: 'btn btn-primary btn-xs' %>
</div>