<li class="list-group-item d-flex align-items-center justify-content-between">
	<div class="col-6">
		<%= link_to "#{flashcard_counter+1}. #{flashcard.content}",
              article_flashcard_path(flashcard.article, flashcard) %>
	</div>
	<div class="col-3">
  		<%= link_to "Bearbeiten",
			edit_flashcard_path(flashcard),
			class: "btn btn-warning",
			style: "margin-left: auto;" %>		
	</div>
</li>