<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    Bei Multiple Choice und Reihenfolge Aufgaben, f端ge die richtige Antwort auf der Aktualisieren Seite hinzu.
  </li>
  <li class="list-group-item list-group-item-success">
    F端r Zuordnungsaufgaben, nutze die Soll/Haben Ansicht und ordne die Antworten nach dem Schema 1-2, 3-4, ... zu.
  </li>
  <li class="list-group-item list-group-item-success">
    F端r Tabellen Aufgaben, nutze die Tabellen Ansicht und f端ge in die erste Reihe die Titel der Spalten ein.
  </li>
</ul>