<!-- quiz topic tab -->
<div class="row">
  <%# raise %>
  <% @articles.published.sort.each do |article| %>
    <div class="col-lg-3 my-2">
      <div class="card topic-card justify-content-between">
        <div class="card-name pt-1 pb-4">
          <%= article.title %>
        </div>
        <div class="card-bottom">
          <div class="row justify-content-around">
            <%# raise %>
            <% if article.read_for?(current_user) && article.flashcards.published.any? %>
              <div class="col-6 m-1 btn btn-primary">
                <%= link_to [article, FlashcardQueue.init_flashcards_queue(current_user, article).dequeue!],
                            "data-turbolinks": false do %>
                Zum Quiz
                <% end %>
              </div>
            <% else %>
              <div class="col-6 m-1 btn btn-outline-primary">
                <%= link_to article do %>
                Zum Artikel
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>