
<div class="container">
  <div class="row">
    <h2>Edit Flashcard page</h2>
  </div>

  <div class="alert-info p-3 my-5">
    <li>
      For matching answer flashcard, the answers match 1-2, 3-4,...
    </li>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= render "form", flashcard: @flashcard %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "New Flashcard", new_flashcard_path, class: "btn btn-success mt-3" %>
    </div>
  </div>
</div>
