<div class="container header">  
  <div class="my-3 h-100">
    <div class="row mh-100">
      <!-- breadcrumbs -->
      <div class="row mt-3 col-12 breadcrumbs ml-3">
        <%= "Alle Lernfelder" %>
      </div>
      <!-- quiz header -->
      <div class="row col-12 justify-content-between">
        <div class="col-6 py-3">
          <h3>Quiz</h3>
        </div>
        <!-- <div class="col-2">Grid/List View</div> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tab-content mh-100">
    <%#= render 'list_view' %>
    <%= render 'grid_view' %>
    <!-- quiz topics -->
</div>
