
<div class="container">
  <div class="row">
    <h2>New Flashcard page</h2>
  </div>

  <ul class="alert-info p-3 my-5">
    <li>
      For the multiple answers and correct order flashcards, add the correct answers on the update page.
    </li>
    <li>
      For matching answers flashcard, use soll/haben view, the answers match 1-2, 3-4,...
    </li>
    <li>
      For matching table quiz flashcard, on the first row enter the column titles and use table view
    </li>
  </ul>

  <div class="row">
    <div class="col-md-8">
      <%= render "form", flashcard: @flashcard %>
    </div>
  </div>
</div>


<!--
  - form #1 Flashcard
  - display the articles to choose from - select
  - display flashcard_type select
  - display question txt area
  - display added answers as readonly inputs with set value
  - display add correct answer (only the ids, comma separated)
  - submit

  - form #2 Answer
  - txt input
  - submit add answer
-->