
<div class="container">
  <div class="row">
    <h2>New Flashcard page</h2>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= render "form", flashcard: @flashcard %>
    </div>
  </div>
</div>


<!--
  - form #1 Flashcard
  - display the articles to choose from - select
  - display flashcard_type select
  - display question txt area
  - display added answers as readonly inputs with set value
  - display add correct answer (only the ids, comma separated)
  - submit

  - form #2 Answer
  - txt input
  - submit add answer
-->