
<div class="col ml-5">
  <div class="row my-5">
    <div class="col">
      <h2>Neue Frage hinzufügen</h2>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-8">
      <%= render "form", flashcard: @flashcard %>
    </div>
  </div>
</div>


<!--
  - form #1 Flashcard
  - display the articles to choose from - select
  - display flashcard_type select
  - display question txt area
  - display added answers as readonly inputs with set value
  - display add correct answer (only the ids, comma separated)
  - submit

  - form #2 Answer
  - txt input
  - submit add answer
-->