// Defined variables for color scheme

// Primary colors:
$blue: #0062FF;
$yellow: #FFC542;
$light-blue: #50B5FF;
$green: #3DD598;

// Secondary colors:
$orange: #FF974A;
$red: #FC5A5A;
$purple: #A461D8;
$pink: #FF9AD5;

// Grey scale:
$black: #171725;
$dark-gray: #44444F;
$dark-mid-gray: #696974;
$dark-light-gray: #92929D;
$mid-gray: #B5B5BE;
$mid-light-gray: #D5D5DC;
$light-mid-gray: #E2E2EA;
$light-gray: #F1F1F5;
$light-white-gray: #FAFAFB;
$white: #FFFFFF;