img {
  max-width: 100%;
  height: auto;
}

.fixed-answers,
.answers {
  li {
    margin-top: 1rem;
  }
}

a:link {
	color: black !important; 
	text-decoration: none !important;
}

a:visited {
	color: black !important; 
	text-decoration: none !important;
}

a:hover {
	color: black !important; 
	text-decoration: none !important;
}

a:active {
	color: black !important; 
	text-decoration: none !important;
}