<!-- Email style only here, it will not work if you put the styles in the scss folders -->
<style></style>
<h1>Welcome</h1>

<p>
  Name: <%= @user.first_name %>
</p>
<p>
Username: <%= @user.username %>
</p>
<p>
Password: <%= @user.password %>
</p>

<p>
  Please change your password on your first login!
</p>

Corona Email Büromgmt/IM:

Hallo XXX,

Willkommen bei Mozubi! Wir freuen uns, dass du dich auf unserer Online-Lernplattform angemeldet hast. In dieser E-Mail erhältst du deine Zugangsdaten für Mozubi, sowie einen Leitfaden wie du dich auf der Plattform am besten zurecht findest. Um dich anzumelden gehe einfach auf www.mozubi.app.

Zugangsdaten:
Anmeldename:
Passwort:

Leitfaden:
https://docs.google.com/presentation/d/1qgIht1R8oUj4j3XGs459Zm76okoQinKkKlG8L89Pcrg/present?usp=sharing

Deine Lizenz ist solange gültig bis die Berufsschulen wieder geöffnet sind! Wir werden dich umfangreich über das Forum über alle weiteren Schritte und unser Vorgehen informieren.

Falls du Fragen, Wünsche oder Anmerkungen zur Lernplattform hast, kannst du dich jederzeit bei uns unter support@mozubi.app melden oder einfach auf der Forumseite unter dem #support Kanal.

Wir wünschen dir viel Spaß beim Lernen und bleib weiterhin Gesund!
Dein Mozubi-Team


PIB - Privatwirtschaftliches Institut für digitale Bildung UG (haftungsbeschränkt)
Reisingerstr. 40
85737 Ismaning
www.mozubi.app

