<!-- Email style only here, it will not work if you put the styles in the scss folders -->
<style></style>

<h3>Hallo <%= "#{@user.first_name} #{@user.last_name}"%>,</h3>
<p>
  Willkommen bei Mozubi! Wir freuen uns, dass du dich auf unserer Online-Lernplattform angemeldet hast. In dieser E-Mail erhältst du deine Zugangsdaten für Mozubi, sowie einen Leitfaden wie du dich auf der Plattform am besten zurecht findest. Um dich anzumelden gehe einfach auf www.mozubi.app.
</p>

<h3>Zugangsdaten:</h3>
<p>
  Anmeldename: <strong><%= @user.username %></strong>
</p>
<p>
  Passwort:  <strong><%= @user.password %></strong>
</p>

<h3>Leitfaden:</h3>
<a href="https://docs.google.com/presentation/d/1qgIht1R8oUj4j3XGs459Zm76okoQinKkKlG8L89Pcrg/present?usp=sharing">
https://docs.google.com/presentation/d/1qgIht1R8oUj4j3XGs459Zm76okoQinKkKlG8L89Pcrg/present?usp=sharing
</a>

<p>
  Deine Lizenz ist solange gültig bis die Berufsschulen wieder geöffnet sind! Wir werden dich umfangreich über das Forum über alle weiteren Schritte und unser Vorgehen informieren.
</p>

<p>
  Falls du Fragen, Wünsche oder Anmerkungen zur Lernplattform hast, kannst du dich jederzeit bei uns unter <strong>support@mozubi.app</strong> melden oder einfach auf der Forumseite unter dem <strong>#support</strong> Kanal.
</p>

<p>
  Wir wünschen dir viel Spaß beim Lernen und bleib weiterhin Gesund!
</p>

<p>Dein Mozubi-Team</p>
<a href="https://www.mozubi.app">
  <img src="https://res.cloudinary.com/mozubi/image/upload/t_media_lib_thumb/v1584558166/Mozubi/Logo/Mozubi-blue-green_jtidxd.png" alt="mozubi logo">
</a>
<p>
  PIB - Privatwirtschaftliches Institut für digitale Bildung UG (haftungsbeschränkt)
</p>
<p>Reisingerstr. 40</p>
<p>85737 Ismaning</p>
<p>
  <a href="https://www.mozubi.app">www.mozubi.app</a>
</p>

