<div style="max-width: 600px;
            margin: 50px auto;
            font-family: sans-serif;">
  <h1>Hallo <%= "#{@user.first_name} #{@user.last_name}"%>,</h1>
  <p style="text-indent: 1rem;">
    Willkommen bei Mozubi! Wir freuen uns, dass du dich auf unserer Online-Lernplattform angemeldet hast. Leider ist dein Ausbildungsfach inhaltlich noch nicht komplett aufgebaut. Wenn du möchtest können wir dir vorerst einen Zugang für Büromanagement geben und sobald dein Ausbildungsfach fertiggestellt ist, würden wir dich benachrichtigen.
  </p>
  <p>
    Falls du Fragen, Wünsche oder Anmerkungen zur Lernplattform hast, kannst du dich jederzeit bei uns unter <strong>support@mozubi.app</strong> melden.
  </p>
  <p style="margin-top: 2rem;">
    Wir wünschen dir viel Spaß beim Lernen und bleib weiterhin Gesund!
  </p>

  <p style="margin-top: 2rem;">Dein Mozubi-Team</p>
  <a href="https://www.mozubi.app">
    <img src="https://res.cloudinary.com/mozubi/image/upload/t_media_lib_thumb/v1584558166/Mozubi/Logo/Mozubi-blue-green_jtidxd.png" alt="mozubi logo">
  </a>
  <p style="margin-bottom: 0; margin-top: 2rem;">
    PIB - Privatwirtschaftliches Institut für digitale Bildung UG (haftungsbeschränkt)
  </p>
  <p style="margin: 0;">Reisingerstr. 40</p>
  <p style="margin: 0;">85737 Ismaning</p>
  <p style="margin: 0;">
    <a href="https://www.mozubi.app">www.mozubi.app</a>
  </p>
</div>






