
<li class="list-group-item d-flex">
  <%= link_to "#{article_counter+1}. #{article.title}",
              article %>
  <%= link_to "Bearbeiten",
              edit_article_path(article),
              class: "btn btn-warning",
              style: "margin-left: auto;" %>
  <%= link_to "Quiz bearbeiten",
              flashcards_article_path(article),
              class: "btn btn-info ml-2" %>
</li>