
<li class="list-group-item d-flex">
  <%= link_to article.title,
              article %>
  <%= link_to "Edit",
              edit_article_path(article),
              class: "btn btn-warning",
              style: "margin-left: auto;" %>
</li>