<div class="container header">
  <div class="my-3 h-100">
    <div class="row mh-100">
      <!-- header -->
      <div class="row col-12 justify-content-between">
        <div class="col-10 py-3">
          <h3>Lernfelder</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tab-content mh-100">
    <div class="row">
      <% current_user.profession.topics.all.each do |topic| %>
        <div class="col-lg-3 my-2">
          <%= link_to topic do %>
            <div class="card topic-card justify-content-between mt-3">
              <div class="card-name pt-1 pb-3">
                <%= topic.name %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
 