<div class="container mx-5">
  <div class="row">
    <div class="col col-md-10">
      <h1 class="my-5 display-4">Neuer Artikel</h1>
          <%= render "form", object: @article %>
    </div>
  </div>
</div>