<div class="container">
  <div class="row">
    <div class="col">
      <ul class="alert-info p-3 my-5">
      <li>
        Add chapters on the update page!
      </li>
    </ul>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="display-4">New Article</h1>
      <%= render "form", object: @article %>
    </div>
  </div>
</div>