<div class="container">
  <div class="row">
    <div class="col">
      <ul class="alert-info p-3 my-5">
      <!-- <li>
        Füge Kapitel auf der Aktualisieren Seite hinzu!
        Add chapters on the update page!
      </li> -->
      <li>
        Um Verlinkungen hinzuzufügen, trenne die Verlinkten Artikel bei "Verwandte Themen" mit einem Komma und achte auf die exakt gleiche Schreibweise, wie der Titel des verlinkten Artikels.
      </li>
    </ul>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="display-4">Neuer Artikel</h1>
      <%= render "form", object: @article %>
    </div>
  </div>
</div>