<li class="list-group-item d-flex">
  <%= link_to topic.name,
              topic %>
  <%= link_to "Bearbeiten",
              edit_topic_path(topic),
              class: "btn btn-warning",
              style: "margin-left: auto;" %>
</li>