<div class="container header">  
  <div class="my-3 h-100">
    <div class="row mh-100">
      <!-- breadcrumbs -->
      <div class="row mt-3 col-12 breadcrumbs ml-3">
        <%= link_to "Alle Lernfelder", topics_path %> &nbsp
        <div class="breadcrumb-arrow"> > </div> &nbsp
        <%= @topic.name %>
      </div>
      <!-- article header -->
      <div class="row col-12 justify-content-between">
        <div class="col-10 py-3">
          <h3><%= @topic.name %></h3>
        </div>
        <!-- <div class="col-2">Grid/List View</div> -->
      </div>
      <div class="col-12 mh-100">
        <!-- tabs -->
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li role="presentation" class="nav-item">
            <a href="#topic" aria-controls="topic" role="tab" data-toggle="tab" class="nav-link active">
              Themen
            </a>
          </li>
          <li role="presentation" class="nav-item">
            <a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab" class="nav-link">
              Offen
            </a>
          </li>
          <li role="presentation" class="nav-item">
            <a href="#bookmarked" aria-controls="bookmarked" role="tab" data-toggle="tab" class="nav-link">
              Markiert
            </a>
          </li>
          <li role="presentation" class="nav-item">
            <a href="#read" aria-controls="read" role="tab" data-toggle="tab" class="nav-link">
              Gelesen
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tab-content mh-100">
    <%#= render 'list_view' %>
    <%= render 'category_grid_view' %>
    </div>
  </div>
</div>