<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="heading-2">
        <%= @topic.name %>
      </h2>
    </div>
  </div>

  <div class="row">
    <% @topic.categories.each do |category| %>
      <div class="col-4">
        <%= link_to category do %>
          <div class="card">
            <div class="card-body d-flex">
              <%= category.title %>
              <% if current_user.author? %>
                <%= link_to 'Edit',
                    edit_category_path(category),
                    class: "btn btn-warning",
                    style: "margin-left: auto; height: 40px" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>