<div class="col-4">
  <%= link_to result.searchable do %>
    <div class="card">
      <div class="card-body">
        <%= result.searchable.name %> - <span class="badge badge-primary text-uppercase font-weight-bold"><%= result.searchable_type %></span>
      </div>
    </div>
  <% end %>
</div>