<h1>Datenschutz</h1>

<p>
Wir freuen uns sehr über Ihren Besuch auf unserer Webseite.<br/>
Weil der Schutz und die Sicherheit Ihrer persönlichen Daten bei uns höchste Priorität hat, möchten wir Ihnen in dieser Datenschutzerklärung umfassende Informationen über die Art, den Umfang und den Zweck der Erhebung, Nutzung, Speicherung und Weitergabe Deiner personenbezogenen Daten durch uns vermitteln, Sie über Ihre Rechte aufklären und über die Datenverarbeitungsvorgänge informieren. Auch erklären wir Ihnen in dieser Datenschutzerklärung, welche Informationen wir bei Ihrem Besuch unserer Webseite automatisch erfassen.</p>

<strong>1. Wer ist für den Datenschutz verantwortlich?</strong>
<p>Verantwortlicher gemäß EU-Datenschutz-Grundverordnung (DS-GVO) ist:
<br/>Privatwirtschaftliches Institut für digitale Bildung UG (haftungsbeschränkt)<br/>
Reisingerstraße 40<br/>
85737 Ismaning<br/>
Deutschland<br/>

Unseren Datenschutzbeauftragten erreichen Sie unter:<br/>
info@mozubi.app</p>


<strong>2. Welche Daten werden vom Datenschutzrecht geschützt?</strong>

<p>Das Datenschutzrecht regelt insbesondere in der europäischen Datenschutzgrundverordnung und dem deutschen Bundesdatenschutzgesetz den Umgang mit personenbezogenen Daten.
„Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen, also insbesondere Name, Alter, Adresse, Telefonnummer, E-Mail-Adresse, Bankinformationen wie Kreditkartennummer etc. auch Angaben zu Erkrankungen, Diagnosen, Allergien oder sonstige gesundheitsbezogene Informationen über Sie sind personenbezogene Daten. Darüber hinaus können auch bestimmte Nutzungsdaten, etwa die Information, wann Sie unsere Webseite besucht haben und den von Ihnen dabei verwendeten Browser einen Personenbezug haben und damit dem Datenschutzrecht unterfallen. Nicht dem Datenschutz unterfallen aber anonymisierte Daten, also Daten, die keinerlei Rückschlüsse auf Sie zulassen.
Welche Daten wir wann und auf welche Weise erheben, speichern, nutzen oder weitergeben erklären wir Ihnen in dieser Datenschutzerklärung.</p>

<strong>3. Kurzgefasst: Für welche Zwecke und auf welcher Grundlage werden personenbezogene Daten erhoben?</strong>

<p>Wir betreiben eine Onlineplattform, die es erlaubt Körperabmessungen und -dimensionen sowie persönliche Präferenzen zu erfassen und diese an Online Shops weiterzuleiten. Dabei nutzen wir diese Informationen, um den Nutzern bei der Auswahl der Größe zu helfen und um den Herstellern und Anbietern zu helfen ihre Produkte besser anzupassen.
Wir erheben, speichern und nutzen Ihre personenbezogenen Daten auf somit unterschiedlichen Grundlagen.
So benötigen wir für unsere Leistungen bestimmte personenbezogene Daten von Ihnen. Nicht alle Daten dürfen wir aufgrund von gesetzlichen Erlaubnistatbeständen erheben. Bestimmte Daten dürfen wir nur verarbeiten, wenn Sie vorher in die konkrete Datenverarbeitung ausdrücklich einwilligen. Wenn wir Ihre vorherige Einwilligung in die Datenverarbeitung benötigen, werden Sie diese optisch und sprachlich eindeutig als datenschutzrechtliche Einwilligungserklärung erkennen und alle erforderlichen Informationen (zur Reichweite der Erklärung, zu Ihren Rechten, den Konsequenzen etc.) von uns hierzu erhalten.</p>

<strong>4. Welche Daten werden beim Besuch unserer Webseite automatisch übermittelt/ protokolliert?</strong>

<p>Informative Nutzung
Sie können unsere Webseite besuchen, ohne Angaben zu Ihrer Person zumachen.
Bei der bloß informatorischen Nutzung unserer Webseite, erheben wir nur die nachfolgend aufgezählten sog. Server-Log-Files, die für uns technisch erforderlich sind, um Ihnen unsere Webseite anzuzeigen und die Stabilität und Sicherheit der Webseite zu gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S.1 lit. f DSGVO):
• IP-Adresse
• Datum und Uhrzeit des Besuchs
• Zeitzonendifferenz zur Greenwich Mean Time (GMT)
• Inhalt der Anforderung (konkrete Seite)
• Zugriffsstatus/HTTP-Statuscode
• jeweils übertragene Datenmenge
• Webseite, von der die Anforderung kommt
• Browser
• Betriebssystem und dessen Oberfläche
• Sprache und Version der Browsersoftware
Diese Server-Log-Files werden durch den jeweiligen Internetbrowser übermittelt und gespeichert und von uns nur zum Zwecke der statistischen Auswertung sowie zur Sicherstellung eines störungsfreien Betriebs unserer Webseite gesammelt. Wir können diese Daten nicht einer bestimmten Person zuordnen. Die von Ihrem Webbrowser übermittelte IP-Adresse speichern wir für eine übliche Dauer von zur Nachvollziehbarkeit für technische Analysen und im Falle eines technischen Fehlers oder einer Blockierung von Sicherheitsregeln. Nach Ablauf dieser Speicherfristen löschen wir die IP-Adresse. Daneben kommen sog. Cookies zum Einsatz.
Bei Nutzung unseres Kontaktformulars
Bei Fragen jeglicher Art bieten wir Ihnen die Möglichkeit, mit uns über ein auf der Website bereitgestelltes Formular Kontakt aufzunehmen. Dabei ist die Angabe einer gültigen E-Mail-Adresse erforderlich, damit wir wissen, von wem die Anfrage stammt und um diese beantworten zu können. Weitere Angaben können freiwillig getätigt werden.
Die Datenverarbeitung zum Zwecke der Kontaktaufnahme mit uns erfolgt nach Art. 6 Abs. 1 S. 1 lit. a DSGVO auf Grundlage Ihrer freiwillig erteilten Einwilligung. Sie können diese Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
Die für die Benutzung des Kontaktformulars von uns erhobenen personenbezogenen Daten werden nach Erledigung der von Ihnen gestellten Anfrage automatisch gelöscht. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter. Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben unberührt.</p>

<strong>5. Kommen Cookies zum Einsatz?</strong>
<p>Ja. Um den Besuch unserer Webseite attraktiver zu gestalten und die Nutzung bestimmter Funktionen zu ermöglichen, setzen wir auf unserer Webseite sog. Cookies ein. Das sind kleine Textdateien, die der Steuerung der Internetverbindung während Ihres Besuchs auf unserer Webseite dienen und Informationen enthalten, die es uns ermöglichen, unsere Webseite auf die Bedürfnisse der Besucher anzupassen. Sie vereinfachen und beschleunigen zudem die Steuerung Ihres Besuchs auf unserer Internetseite. Cookies werden auf Ihrem Endgerät abgelegt und entweder nach Beendigung der Browser-Sitzung wieder gelöscht (sog. Session-Cookies) oder aber durch Ihren Browser gespeichert, um zu ermöglichen, Ihrem Browser beim nächsten Besuch wiederzuerkennen (dauerhafte Cookies / Login Cookies).
In der Regel sind die Browser so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können Ihren Browser aber auch so einstellen, dass Sie über das Setzen von Cookies vorab informiert werden und über deren Annahme einzeln entscheiden oder die Annahme von Cookies für bestimmte Fälle oder insgesamt ausschließen können. Stimmen Sie der Verwendung von Cookies nicht zu, kann die Funktionalität unserer Webseite zum Teil eingeschränkt sein.</p>

<strong>6. Werden meine Daten weitergegeben?</strong>
<p>Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:
• Sie Ihre nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ausdrückliche Einwilligung dazu erteilt haben,
• die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. f DSGVO zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben,
• für den Fall, dass für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine gesetzliche Verpflichtung besteht, sowie dies gesetzlich zulässig und nach
• Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist.</p>
‍
<strong>7. Welche Auftragsverarbeiter kommen bei uns zum Einsatz?</strong>
<p>Google Analytics
Wir benutzen Google Analytics, einen Webanalysedienst der Google Inc., (1600 Amphitheatre Parkway Mountain View, CA 94043, USA). Hierdurch ist es möglich, Daten, Sitzungen und Interaktionen über mehrere Geräte hinweg einer pseudonymen User-ID zuzuordnen und so die Aktivitäten eines Nutzers geräteübergreifend zu analysieren. Rechtsgrundlage für die Nutzung von Google Analytics ist Art. 6 Abs. 1 S. 1 lit. f DSGVO.
Google Analytics verwendet dabei Textdateien (sog. Cookies, s. o.), die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Im Auftrag des Betreibers dieser Webseite wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der Webseitennutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung. Sitzungen und Kampagnen werden nach Ablauf einer bestimmten Zeitspanne beendet. Standardmäßig werden Sitzungen nach 30 Minuten ohne Aktivität und Kampagnen nach 6 Monaten beendet. Das Zeitlimit für Kampagnen kann maximal zwei Jahre betragen.
Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter folgendem Link: https://www.google.de/analytics/terms/de.html.
Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Webseite vollumfänglich nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf deine Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das Browser-Add-on (https://tools.google.com/dlpage/gaoptout?hl=de) herunterladen und installieren.
Google Cloud
Wir verwenden Google Cloud und G Suite. Google Cloud und G Suite sind Technologien der Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA („Google“). Für den Fall, dass personenbezogene Daten in die USA übertragen werden, hat sich Google dem EU-US Privacy Shield unterworfen.
Rechtsgrundlage der vorgenannten Datenverarbeitung ist Art. 6 Abs. 1 f) DSGVO beruhend auf unserem berechtigten Interesse. Wir wollen Ihnen damit die technische Infrastruktur bereitstellen, um unsere Produkte und Dienstleistungen anbieten zu können. Außerdem wollen wir unserer Produkte und Dienstleistungen damit verbessern.
Nähere Informationen finden Sie in der Datenschutzerklärung von Google: https://policies.google.com/.</p>

<strong>8. Wie werden meine personenbezogenen Daten geschützt?</strong>
<p>Der Schutz Ihrer persönlichen Daten ist für uns sehr wichtig.
Sowohl unsere Webseite als auch unsere und sonstigen Systeme haben wir durch technische und organisatorische Maßnahmen gegen Verlust, Zerstörung, Zugriff, Veränderung oder Verbreitung Ihrer Daten durch unbefugte Personen abgesichert. Hierzu gehört zum Beispiel die Verwendung einer besonderen Verschlüsselungstechnik, die gewährleistet, dass Ihre Daten vor Verlust, Manipulation, Weitergabe oder unbefugten Zugriff Dritter bestmöglich geschützt sind. Wir verwenden innerhalb des Website-Besuchs das verbreitete SSL-Verfahren (Secure Socket Layer) in Verbindung mit der jeweils höchsten Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird. In der Regel handelt es sich dabei um eine 256 Bit Verschlüsselung. Falls Ihr Browser keine 256-Bit Verschlüsselung unterstützt, greifen wir stattdessen auf 128-Bit v3 Technologie zurück. Ob eine einzelne Seite unseres Internetauftrittes verschlüsselt übertragen wird, erkennen Sie an der geschlossenen Darstellung des Schüssel- beziehungsweise Schloss-Symbols in der unteren Statusleiste Ihres Browsers.
Unsere Sicherheitsverfahren werden regelmäßig überprüft und dem technologischen Fortschritt angepasst. Unsere Mitarbeiter sind auf die Wahrung der Vertraulichkeit verpflichtet.</p>

<strong>9. Wie lange werden Ihre personenbezogenen Daten gespeichert?</strong>
<p>Grundsätzlich löschen wir Ihre personenbezogenen Daten, wenn kein berechtigtes Interesse mehr an der Verarbeitung besteht und keine gesetzlichen Aufbewahrungsfristen (z.B. aus dem Handels- und Steuerrecht) mehr bestehen.</p>

<strong>10. Kurzüberblick: Welche Rechte haben Sie als Nutzer?</strong>
<p>Sie haben als Nutzer die folgenden Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:
• Recht auf Auskunft,
• Recht auf Berichtigung oder Löschung,
• Recht auf Einschränkung der Verarbeitung,
• Recht auf Datenübertragbarkeit,
• Recht auf Widerspruch gegen die Verarbeitung,
• Beschwerderecht bei der Aufsichtsbehörde.
Darüber hinaus haben Sie das Recht auf Widerruf einer bereits abgegebenen Einwilligungserklärung: Beruht die Verarbeitung auf einer von Ihnen abgegebenen Einwilligungserklärung, haben Sie – wie oben erklärt – das Recht diese Einwilligung zu widerrufen. Ein Widerruf hat keine Auswirkungen auf die Zulässigkeit der vor Ihrem Widerruf durchgeführten Verarbeitung Ihrer Daten. Ihren Widerspruch können Sie an info@presize.ai richten.
Was genau die oben genannten Rechte bedeuten, erklären wir anschließend (vgl. Ziff. 12).</p>

<strong>11. Ausführlich: Welche Rechte haben Sie im Einzelnen?</strong>
<p>Recht auf Auskunft: Sie haben jederzeit gemäß Art. 15 DSGVO ein Recht auf unentgeltliche Auskunft über die zu Ihrer Person gespeicherten Daten. Richten Sie bitte entsprechende Anfragen an info@presize.ai.
‍
Recht auf Berichtigung oder Löschung: Darüber hinaus haben Sie das Recht, gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen. Sie haben zudem gemäß Art. 17 DSGVO das Recht, von uns zu verlangen, dass die Sie betreffenden personenbezogene Da+ten unverzüglich gelöscht werden, sofern einer der folgenden Gründe vorliegt:
• Die personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.
• Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung stützte und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.• Sie legen Widerspruch gegen die Verarbeitung ein (und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor) oder die personenbezogenen Daten wurden unrechtmäßig verarbeitet.
• Die Löschung der personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht des Mitgliedstaates erforderlich, dem wir unterliegen.

Recht auf Einschränkung der Verarbeitung: Darüber hinaus haben Sie gemäß Art. 18 DSGVO das Recht, von uns die Einschränkung der Verarbeitung zu verlangen, wenn eine der folgenden Voraussetzungen gegeben ist:
• Die Richtigkeit der personenbezogenen Daten wird von Ihnen bestritten, und zwar für eine Dauer, die es uns ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen,
• Die Verarbeitung ist unrechtmäßig und Sie lehnen die Löschung der personenbezogenen Daten ab und verlangen stattdessen die Einschränkung der Nutzung der personenbezogenen Daten;
• Wir benötigen die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger, Sie benötigen sie jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen, oder
• Sie haben Widerspruch gegen die Verarbeitung eingelegt, solange noch nicht feststeht, ob unsere berechtigten Gründe gegenüber Ihren Interessen überwiegen.

Recht auf Datenübertragbarkeit: Auch haben Sie gemäß Art. 20 DSGVO das Recht, Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen.
‍
Recht auf Widerspruch gegen die Verarbeitung: Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist beispielsweise der Fall, wenn die Verarbeitung nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich wäre. Nach Ausübung Ihres Widerspruchsrechts werden wir Ihre personenbezogenen Daten nicht weiter zu diesen Zwecken verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihren Interessen, Rechten und Freiheiten überwiegen, oder wenn die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient. Das gilt nicht, wenn die Verarbeitung zu Zwecken des Direktmarketings erfolgt. Dann werden wir Ihre personenbezogenen Daten nicht weiter zu diesem Zweck verarbeiten.
‍
Beschwerderecht: Informationen zum Beschwerderecht bei der zuständigen Datenschutz-Aufsichtsbehörde finden Sie anschließend unter Ziff. 13. Die Zuständigkeiten der Datenschutzbehörden richten sich nach dem Sitz der verantwortlichen Stelle. Sie können sich aber auch an die Datenschutzbehörde an Ihrem Wohnort wenden, die Ihre Beschwerde dann an die zuständige Behörde weiterleiten wird.</p>

<strong>12. Wo können Sie sich beschweren, wenn Sie der Ansicht sein sollten, dass wir gegen datenschutzrechtliche Bestimmungen verstoßen?</strong>
<p>Wir freuen uns natürlich, wenn Sie sich mit einem datenschutzrechtlichen Anliegen zunächst an uns wenden, damit wir Ihr Anliegen überprüfen und ggf. Maßnahmen ergreifen können. Sie haben aber das Recht, sich jederzeit bei der zuständigen Aufsichtsbehörde zu beschweren, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen datenschutzrechtliche Bestimmungen verstößt.</p>

<strong>13. Können sich die Datenschutzbestimmungen ändern?</strong>
<p>Diese Datenschutzerklärung ist aktuell gültig und hat den Stand Oktober 2019.
Von Zeit zu Zeit müssen wir – zum Beispiel aufgrund von Gesetzesänderungen- unsere Datenschutzbestimmungen anpassen. Ihre Rechte aus dieser Datenschutzerklärung werden dadurch nicht ohne Ihre ausdrückliche Einwilligung eingeschränkt. Sollten wir Änderungen bei der Erhebung, Nutzung oder der Weitergabe, der uns von Ihnen mitgeteilten personenbezogenen Daten vornehmen, werden wir diese durch einen eindeutigen Hinweis darauf aufmerksam machen.</p>

<strong>14. An wen können Sie sich bei Fragen wenden?</strong>
<p>Bei sämtlichen Fragen zu diesen Datenschutzbestimmungen stehen wir Ihnen sehr gerne zur Verfügung. Sie erreichen uns
per E-Mail: info@mozubi.app</p>