<div class="container header">  
  <div class="my-3 h-100">
    <div class="row mh-100">
      <!-- exam header -->
      <h2 class="row mx-0 col-12 heading-4">
        <% if current_user.first_name != "" %>
          <strong>Bereit f端r deine Pr端fungssimulation, <%= current_user.first_name %>?</strong>
        <% else %>
          <strong>Bereit f端r deine Pr端fungssimulation?</strong>
        <% end %>
      </h2>
      <div class="row h-25">
        <div class="col-12">
          <p>
            <!-- TODO: add infos based on profession from db -->
          </p>
        </div>
      </div>
      <div class="row mx-0 mt-5 w-100 justify-content-around">
        <div class="col-3">
          <%= link_to "Start the exam", custom_exam_flashcard_path(@exam, @first_flashcard), class:"btn btn-primary w-100" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>