<div class="col-12 px-0">
	<div class="row mx-0 landing-banner">
		<div class="col-12 justify-content-center align-items-center row">
			<div class="my-3 mx-3">
				Wir unterstützen <strong>ALLE AZUBIS</strong> kostenlos bei ihrer Prüfungsvorbereitung, solange die Berufsschulen geschlossen sind!
			</div>
		</div>
	</div>
  <div class="row mx-0 py-4 justify-content-center">
    <div class="col-md-6">
      Liebe Auszubildende,<br/>
      <br/>
      durch das Zustandekommen der neusten Situation und der <strong>Schließung der Berufsschulen</strong> aufgrund von COVID-19 (Coronavirus) ist die nahe Zukunft sehr ungewiss. Das bezieht sich natürlich auch auf eure Abschlussprüfung, da vorerst alle Termine bis Ende April abgesagt wurden. Damit ihr euch aber trotzdem vorbereiten könnt und das auch ohne Berufsschule, bieten wir euch <strong>Mozubi als Lösung</strong> an.<br/>
      <br/>
      Mozubi ist eine digitale Lernplatfform, die ihr bequem von zuhause aus nutzen könnt. Dabei braucht ihr nur eine Internetverbindung und könnt Mozubi einfach von Laptop, Tablet oder auch Smartphone aus bedienen. Momentan bieten wir die folgenden Ausbildungsfächer an:<br/>
      <br/>
      - Industriemechaniker/in<br/>
      - Kaufmann/frau für Büromanagement<br/>
      - Industriekaufmann/frau <br/>
      - Groß- und Außenhandels Kaufmann/frau FR Großhandel<br/>
      <br/>
      (Sollte Euer Ausbildungsfach nicht dabei sein, meldet euch gerne trotzdem an und ihr erhaltet als erstes eine Nachricht, sobald es verfügbar ist!)<br/>
      <br/>
      Solange die Berufsschulen geschlossen sind, bieten wir euch als Hilfspaket die <strong>Lernplatfform mit allen Funktionen komplett kostenlos</strong> an! Um euch einen Account anzulegen müsst ihr euch lediglich unter dem unten stehenden Formular anmelden. Im Anschluss erhaltet ihr von uns, nach Prüfung eurer Daten, eine Email mit euren Zugangsdaten, einen Einladungslink für das Forum, sowie einen Leitfaden wie ihr euch auf der Plattform zurecht findet. <br/>
      <br/>
      Viel Spaß beim Lernen und bleibt Gesund!<br/>
      Euer Mozubi-Team<br/>
    </div>
  </div>
  <div class="row mx-0 py-4 justify-content-center">
    <div class="col-md-6">
      <%= render 'shared/hilfspaket_form' %>
    </div>
  </div>
</div>

<%= render 'shared/landing_footer' %>