<h1>Homepage</h1>
<%#= fa_icon "baby", text: "BB", class: 'mx-2', size: '3x' %>
<% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Change your password", edit_user_registration_path %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>