<div style="100%;">

<div class="row mx-0 landing-banner">
	<div class="col-12 justify-content-center align-items-center row p-2">
		<div class="col-sm-12 col-md-6 my-3 mx-3">
			<!-- Lernen leicht gemacht - Jetzt einen Beratungstermin ausmachen! -->
			Berufsschule wegen Corona geschlossen? Wir helfen allen Azubis <strong>KOSTENLOS</strong> aus!
		</div>
		<!-- <a href="mailto:info@mozubi.app" class="btn btn-outline-primary">
			Termin vereinbaren
		</a> -->
		<div class="btn btn-primary">
			<%= link_to "Hilfspaket anfordern", hilfspaket_path %>
		</div>
		<%# mail_to "Termin vereinbaren", "info@mozubi.app", class="btn btn-primary" %>
		<!-- <div class="btn btn-primary">
			Termin vereinbaren
		</div> -->
	</div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,89,184,0.7),rgba(0,89,184,0.7)), url(https://res.cloudinary.com/mozubi/image/upload/v1585144906/marvin-meyer-SYTO3xs06fU-unsplash_u9n2js_low_h69ejs.jpg);">
  <div class="container text-center justify-content-center">
    <!-- <h1 class="col-12">Mozubi</h1> -->
    <!-- <p class="col-12">Digital. Mobil. Lernen.</p> -->
    <img src="https://res.cloudinary.com/mozubi/image/upload/v1584558165/Mozubi/Logo/Mozubi-white-white_zvleeb.png" alt="" class="d-none d-lg-block" style="width: 40%">
    <img src="https://res.cloudinary.com/mozubi/image/upload/v1584558165/Mozubi/Logo/Mozubi-white-white_zvleeb.png" alt="" class="d-lg-none d-block" style="width: 80%">
  </div>
</div>

<div class="row mx-0 py-5 landing-box">
	<div class="col-lg-4 col-md-12 text-center my-3 border-right px-5">
			<i class="material-icons-sharp landing-page-icon">devices</i>
			<div class="landing-text">
					<div class="text-primary">Mobil</div>
					Du kannst überall auf die Lernplattform zugreifen,
					egal ob an deinem Handy in der Bahn oder bequem von zuhause an deinem Laptop!
			</div>
	</div>
	<div class="col-lg-4 col-md-12 text-center my-3 border-right px-5">
		<i class="material-icons-sharp landing-page-icon">ondemand_video</i>
		<div class="landing-text">
			<div class="text-primary">Spielerisch</div>
			Bleibe motiviert durch spielerisch leichte Gestaltung des Lernprozesses und miss dich mit deinen Freunden in eurem Ausbildungsfach!
		</div>
	</div>
	<div class="col-lg-4 col-md-12 text-center my-3 px-5">
		<i class="material-icons-sharp landing-page-icon">dvr</i>
		<div class="landing-text">
			<div class="text-primary">Strukturiert</div>
			Verfolge deinen Lernfortschritt und behalte den Überblick in der Vorbereitung auf deine Abschlussprüfung!
		</div>
	</div>
</div>
<div class="row mx-0 landing-banner">
	<div class="col-12 my-3 text-center">
		<div class="h2 py-3">
			<!-- Jetzt Beratungstermin vereinbaren -->
			Wir helfen bei geschlossenen Schulen!
		</div>
		<!-- <a href="mailto:info@mozubi.app" class="btn btn-outline-primary">
			Termin vereinbaren
		</a> -->
		<div class="btn btn-primary">
			<%= link_to "Hilfspaket anfordern", hilfspaket_path %>
		</div>
	</div>
</div>

<%= render 'shared/landing_footer' %>


</div>