<div class="">
	
<div class="row mx-0 landing-banner">
	<div class="col-12 justify-content-center align-items-center row">
		<div class="my-3 mx-3">
			Lernen leicht gemacht - Jetzt einen Beratungstermin ausmachen!
		</div>
		<div class="btn btn-primary">
			Termin vereinbaren
		</div>
	</div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/mozubi/image/upload/v1582970726/Mozubi/marvin-meyer-SYTO3xs06fU-unsplash_u9n2js.jpg);">
  <div class="container text-center">
    <h1>Mozubi</h1>
    <p>Digital.Mobil.Lernen.</p>
  </div>
</div>

<div class="row mx-0 py-3 landing-box">
	<div class="col-4 text-center my-3 border-right px-5">
			<i class="material-icons-sharp landing-page-icon">devices</i>
			<div class="landing-text">
					<div class="text-primary">Mobil</div>
					Du kannst überall auf die Lernplattform zugreifen,
					egal ob an deinem Handy in der Bahn oder bequem von zuhause an deinem Laptop!
			</div>
	</div>
	<div class="col-4 text-center my-3 border-right px-5">
		<i class="material-icons-sharp landing-page-icon">ondemand_video</i>
		<div class="landing-text">
			<div class="text-primary">Spielerisch</div>
			Bleibe motiviert durch spielerisch leichte Gestaltung des Lernprozesses und miss dich mit deinen Freunden in eurem Ausbildungsfach!
		</div>
	</div>
	<div class="col-4 text-center my-3 px-5">
		<i class="material-icons-sharp landing-page-icon">dvr</i>
		<div class="landing-text">
			<div class="text-primary">Strukturiert</div>
			Verfolge deinen Lernfortschritt und behalte den Überblick in der Vorbereitung auf deine Abschlussprüfung!
		</div>
	</div>
</div>
<div class="row mx-0 landing-textbox">
	<div class="my-3 text-center">
		<div class="h2 py-3">Mozubi - besser, digital ausbilden</div>
		<div class="px-5 landing-text">
			Mit den neusten Lerntechniken und strukturierten Lernplänen grantieren wir 
			einen nachhaltigen Lernerfolg. Durch unsere Lernplattform und qualifizierten 
			Lerninhalten auf DQR-Niveau (Deutscher Qualitätsrahmen für lebenslanges 
			Lernen)  erhalten Azubis die Möglichkeit sich auf Zwischen- und
			Abschlussprüfungen vorzubereiten. Mozubi ist eine mobile Plattform, die von 
			jeglichen Endgeräten genutzt werden kann und somit auch ineffiziente 
			Wartezeiten nutzbar macht. Neben einer professionellen Struktur der  Inhalte, 
			können die Azubis auf spielerischem Weg sich miteinander messen und anhand 
			von Quizzes konkurrieren. 
		</div>
	</div>
</div>
<div class="row mx-0 landing-cta">
	<div class="col-12 my-3 text-center">
		<div class="h2 py-3">Jetzt einen Beratungstermin ausmachen</div>
		<div class="btn btn-primary">
			Termin vereinbaren
		</div>
	</div>
</div>

</div>