<div class="">	
	<div class="row mx-0 landing-banner">
		<div class="col-12 justify-content-center align-items-center row">
			<div class="my-3 mx-3">
				Wir unterstützen den <strong>Mobilen Azubi</strong> in seiner Prüfungsvorbereitung!
			</div>
			<!-- <div class="btn btn-outline-primary">
				<%#= link_to "Corona Lizenz", corona_path %>
			</div> -->
			<%# mail_to "Termin vereinbaren", "info@mozubi.app", class="btn btn-primary" %>
			<!-- <div class="btn btn-primary">
				Termin vereinbaren
			</div> -->
		</div>
	</div>
	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/mozubi/image/upload/v1584186015/Mozubi/bruce-mars-S8ffHr_dxHo-unsplash_sgcbab.jpg);">
	  <div class="container text-center">
	    <h1 class="col-12">Mozubi</h1>
	    <p class="col-12 d-none d-lg-block">Prüfungsvorbereitung. Wann du willst. Wo du willst.</p>
	    <p class="col-12 d-lg-none d-block">Digital. Mobil. Lernen.</p>
	  </div>
	</div>
	<div class="col-12 my-5">
		<div class="row mx-0 landing-textbox">
			<div class="text-center">
				<div class="h2 py-3">Mozubi - besser, digital ausbilden</div>
				<div class="px-5 landing-text">
					Mit den neusten Lerntechniken und strukturierten Lernplänen grantieren wir 
					einen nachhaltigen Lernerfolg. Durch unsere Lernplattform und qualifizierten 
					Lerninhalte auf DQR-Niveau (Deutscher Qualitätsrahmen für lebenslanges 
					Lernen)  erhalten Auszubildende die Möglichkeit sich auf Zwischen- und
					Abschlussprüfungen vorzubereiten. Mozubi ist eine mobile Plattform, die von 
					jeglichen Endgeräten genutzt werden kann und somit auch ineffiziente 
					Wartezeiten nutzbar macht. Neben einer professionellen Struktur der  Inhalte, 
					können die Auszubildende auf spielerischem Weg sich miteinander messen und anhand 
					von Quizzes konkurrieren.  
				</div>
			</div>
		</div>
	</div>
	<div class="row mx-0 landing-banner">
		<div class="col-12 my-3 text-center">
			<div class="h2 py-3">
				<!-- Jetzt Beratungstermin vereinbaren -->
				Wir helfen bei geschlossenen Schulen!
			</div>
			<!-- <a href="mailto:info@mozubi.app" class="btn btn-outline-primary">
				Termin vereinbaren
			</a> -->
			<div class="btn btn-primary">
				<%= link_to "Hilfspaket anfordern", hilfspaket_path %>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/landing_footer' %>