<div class="container">	
	<div class="col-12 my-5 py-3">
		<div class="row mx-0 landing-textbox">
			<div class="my-3 text-center">
				<div class="h2 py-3">Mozubi - besser, digital ausbilden</div>
				<div class="px-5 landing-text">
					Mit den neusten Lerntechniken und strukturierten Lernplänen grantieren wir 
					einen nachhaltigen Lernerfolg. Durch unsere Lernplattform und qualifizierten 
					Lerninhalten auf DQR-Niveau (Deutscher Qualitätsrahmen für lebenslanges 
					Lernen)  erhalten Azubis die Möglichkeit sich auf Zwischen- und
					Abschlussprüfungen vorzubereiten. Mozubi ist eine mobile Plattform, die von 
					jeglichen Endgeräten genutzt werden kann und somit auch ineffiziente 
					Wartezeiten nutzbar macht. Neben einer professionellen Struktur der  Inhalte, 
					können die Azubis auf spielerischem Weg sich miteinander messen und anhand 
					von Quizzes konkurrieren. 
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/landing_footer' %>