<div class="">	
	<div class="my-5 py-3">
		<div class="row mx-0 py-3">
			<div class="col-12 my-3 px-5">
				<h2>Für Unternehmen</h2>
				
				Auszubildende erwarten ein digitales Arbeits- und Lernumfeld. Die Realität ist es nicht, noch nicht.
			</div>
		</div>
		<div class="row mx-0 py-3 landing-box">
			<div class="col-4 text-center my-3 border-right px-5">
				<i class="material-icons-sharp landing-page-icon">devices</i>
				<div class="landing-text">
					<div class="text-primary">Kosten Einsparung</div>
					Durch den Einsatz von Mozubi setzen Sie auf qualitative digitale Lernprozesse und -inhalte. Dadurch senken Sie die Durchfallquote und reduzieren die Abbruchquote ihrer Auszubildenden und sparen sich bis zu 25% Kosten pro Azubi ein!
				</div>
			</div>
			<div class="col-4 text-center my-3 border-right px-5">
				<i class="material-icons-sharp landing-page-icon">ondemand_video</i>
				<div class="landing-text">
					<div class="text-primary">Reduzierter CO2 Ausstoß</div>
					Ein Auszubildender verbraucht im Verlauf der Prüfungsvorbereitung seiner Ausbildung rund 2000 DIN A4 Seiten Papier, was etwas 10,6kg CO2  entspricht, das einer 56km Autofahrt gleicht. Durch Ihren Einsatz von Mozubi helfen Sie dabei, diese Umweltlast zu reduzieren.
				</div>
			</div>
			<div class="col-4 text-center my-3 px-5">
				<i class="material-icons-sharp landing-page-icon">dvr</i>
				<div class="landing-text">
					<div class="text-primary">Attraktiver Arbeitgeber</div>
					Durch die Bereitstellung von Mozubi steigern Sie die Attraktivität Ihres Ausbildungsbetriebs für kommende Auszubildende. Die digitale Unterstützung der Prüfungsvorbereitung ist noch kein Selbstverständnis für einen Auszubildenden und hebt Sie als Arbeitgeber deutlich ab.
				</div>
			</div>
		</div>
		<div class="row mx-0 landing-banner">
			<div class="col-12 my-3 text-center">
				<div class="h2 py-3">Jetzt Beratungstermin vereinbaren</div>
				<a href="mailto:info@mozubi.app" class="btn btn-outline-primary">
					Termin vereinbaren
				</a>
			</div>
		</div>
		<div class="row mx-0 py-3 landing-box">
			<div class="col-4 text-center my-3 border-right px-5">
				<i class="material-icons-sharp landing-page-icon">devices</i>
				<div class="landing-text">
					<div class="text-primary">Schnelle Implementierung</div>
					Nach Vertragsschluss und einer reibungslosen Implementierung in Ihrem Unternehmen können Ihre Auszubildenden die Lernplattform idealerweise noch am selben Tag nutzen.
				</div>
			</div>
			<div class="col-4 text-center my-3 px-5">
				<i class="material-icons-sharp landing-page-icon">ondemand_video</i>
				<div class="landing-text">
					<div class="text-primary">Azubi Forum</div>
					Durch unsere Plattform können sich Ihre Auszubildenden nicht nur mit Kommilitonen aus dem Unternehmen und der Berufsschule austauschen, sondern erhalten die Möglichkeit sämtliche aktiven und ehemaligen Nutzer Berufübergreifend der Plattform zu kontaktieren. Unsere Autoren sind ebenfalls im Forum in den entsprechenden Fachchats verfügbar und beantworten individuell fachspezifische Fragen.
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/landing_footer' %>