<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to Mozubi</h1>
      <% if current_user.student? %>
        <p>
          Please complete your profile, change password and add an exam date.
        </p>
      <% else %>
        <p>
          Please complete your profile, change password.
        </p>
      <% end %>
      <%= link_to 'Update profile', profile_edit_path, class: "btn btn-info" %>
    </div>
  </div>
</div>