<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-md-6 my-3 mt-5">
      <h1>Willkommen bei Mozubi</h1>
      <% if current_user.student? %>
        <p class="py-2">
          Bitte vervollständige dein Profil indem du das Datum deiner Abschlussprüfung angibst und dein Passwort anpasst.
        </p>
      <% else %>
        <p class="py-2">
          Bitte vervollständige dein Profil und passe dein Passwort an.
        </p>
      <% end %>
      <%= link_to 'Profil anpassen', profile_edit_path, class: "btn btn-primary my-3 px-5" %>
    </div>
  </div>
</div>