<li>
  <h5><%= chapter.title %></h5>
  <% if chapter.title == "Verwandte Themen" %>
      <% links_names = chapter.content.split(", ") %>
      <% links_names.each do |link_name| %>
        <% if article = Article.find_by(title: link_name.strip) %>
          <%= link_to link_name, article_path(article) %>
        <% else %>
        <%# raise %>
          <%= link_name %>
        <% end %>
      <% end %>
  <% else %>
    <p><%= chapter.content %></p>
  <% end %>
</li>