ul {
  list-style: none;
  padding: 0;
}

.soll-haben-view {
  .add_fields {
    display: block;
    max-width: 200px;
  }

  .nested-fields {
    display: inline-block;
    width: 45%;
  }
}

.table-view {
  .add_fields {
    display: block;
    max-width: 200px;
  }

  .nested-fields {
    display: inline-block;
    width: 22%;
  }
}

.answers,
.fixed-answers {
  flex-direction: column;

  li {
    border: 1px solid black;
    padding: 1rem;
    min-height: 6rem;
    flex-direction: column;
    display: flex;
    justify-content: center;

    &:hover {
      cursor: grab;
    }
  }
}

ul.fixed-answers {
  li {
    &:hover {
      cursor: default;
    }
  }
}

.blue-background {
  background-color: skyblue;
}

.left-column {
  justify-self: flex-start;
}

.right-column {
  justify-self: flex-end;
}