.correct-answer {
  background-color: $green;
}

.false-answer {
  background-color: $orange;
}

.remove-pointer {
  pointer-events: none;
}

.flashcard-image__thumb {
  background: none;
  border: none;
}

// .exam-question:nth-child(even) {
// 	background-color: $light-white-gray !important;
// }

.exam-results:nth-child(even) {
	color: red !important;
	background-color: $light-white-gray !important;
}

.sticky-card {
	min-height: 85vh;
	// position: fixed;
	// max-height: 80vh;
	.sticky-questions {
		position: fixed;
		max-height: 70vh;
	    // width: 150px;
	    overflow-y: scroll;
	    // top: 0;
	    // bottom: 0;
	}
}

