.card-stats {
	font-size: 0.75rem;
	padding-left: 15px;
	padding-right: 15px;
}

.stats-icon {
	font-size: 0.75rem;
}

.card-name {
    font-size: .9rem;
    font-weight: 600;
}

.read-text {
	font-size: .8rem;
}

.progress-percentage {
	font-size: .8rem;
}

.grid {
	background-color: $light-white-gray;
}

.topic-card {
    height: 12rem;
    width: 15rem;
}

.search-card {
    height: 6rem;
    width: 17.5rem;
}
