// Import your components SCSS files here.
@import "avatar";
@import "navbar";
@import "flashcard";
@import "flashcard_answer";
@import "dashboardcard";
@import "piechart";
@import "main_content";
@import "sidebar";
@import "topics";
@import "breadcrumbs";
@import "article";
@import "quiz";
