.landing-page-icon {
	color: $white;
	background-color: $success;
	font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
}

.landing-box {
	background-color: $white;
}

.landing-text {

}

.text-primary {
	font-size: 1.5rem;
}

.landing-banner {
	background-color: $success;
	color: $white;
}

.landing-cta {
	background-color: $white;
}

.landing-nav:hover {
	color: $primary !important;
	border: none !important;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 30vh 0;
  height: 85vh;
}

.banner h1 {
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 5rem;
  font-weight: 600;
}

.banner p {
  font-size: 3rem;
  color: $white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background-color: $light-gray;
}

.logo {
  width: 30vh;
}

.logo-footer {
  // background-size: cover;
  // background-position: center;
  // padding: 30vh 0;
  width: 15rem;
}