.header {
    background-color: $white;
}

.nav-tabs {
    border: none !important;
}

.nav-link {
    border: none !important;
    border-bottom: 2px solid white !important;
}

.nav-link.active {
    color: $primary !important;
    font-weight: 600;
    border: none !important;
    border-bottom: 2px solid $primary !important;
}

.nav-link:hover {
    color: $primary !important;
    border-bottom: 2px solid $primary !important;
}