// External libraries
@import "bootstrap/scss/bootstrap";

// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/general";
@import "config/icons";
@import "config/bootstrap_variables";
@import "config/sizes";

// Your CSS partials
@import "components/index";
@import "pages/index";

.debug_dump {
  background-color: #eee;
  padding: 20px;
  width: 100%;
  margin-top: 45px;
}
