<li class="list-group-item d-flex">
  <%= link_to category.title,
              category %>
  <%= link_to "Bearbeiten",
              edit_category_path(category),
              class: "btn btn-warning",
              style: "margin-left: auto;" %>
  <b>&nbsp;<%= category.topic.profession.name %></b>
</li>