<div class="container">
  <div class="row">
    <div class="col">
      Kategorie bearbeiten
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render "form", object: @category %>
    </div>
  </div>
</div>