<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">
        New Module
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render "form", object: @category %>
    </div>
  </div>
</div>